














































input[type=checkbox]:checked + label[data-v-4310ed21]{
    filter: grayscale(100%);
}
.teste-class[data-v-4310ed21]{
    height: 50px;
}



































header[data-v-6163d8c8] {
    background-color: #FF6F00;
}
.logo[data-v-6163d8c8] {
    height: 42px;
}
