input:focus
  outline none
.bgLoginFormLogin
  background-image url(../img/fundoMain.jpeg)
  background-attachment fixed
  background-size cover
  background-repeat none
  background-position 25% 30%
  height 100vh
  padding 0
  color: #fff
  .shadow
    background-color rgba(0,0,0,0.4)
    height 100vh
    .formLogin
      text-align center
      margin 10px
      input
        border none;
        border-bottom solid #ff6f00 1px
        line-height 40px
        margin 5px
        background rgba(0,0,0,0)
        box-sizing border-box
        padding 2px
        &:focus
          border none
          outline none !important
          outline-offset none !important
          border-bottom solid #ff6f00 2px
          transition 300ms
          box-shadow none
      button.button
        background-color #ff6f00
        color: #fff3e0
        padding 11px 55px
        border none
        border-radius 30px
        margin 40px auto
        text-align center


