.perfilPessoa
  display: grid
  font-size: 20px
  grid-template-columns: 100%
  grid-template-rows: auto
  padding: 20px
  padding-top 16vw
  text-align: center
  img
    margin: auto
    width 100%
  tr
    td
      text-align left
      padding 7px 0
      font-size 18a
