.resultadoPesquisaAnimal
  display: grid
  font-size: 20px
  grid-template-columns: 50% 50%
  grid-template-rows: auto
  padding: 5px
  padding-top 16vw
  .animal
    padding 1%
    width 100%
    text-align center
    p
      text-align left
      padding-left 10px
    img
      width 95%
      margin auto
.botaoPesquisarAnimais
  position fixed
  display inline-block
  width 50%
  padding 20%
